

{% extends 'default/front/header.html.twig' %}



{% block container %}
    <style>

        /********************************/
        /*       Fade Bs-carousel       */
        /********************************/
        .fade-carousel {
            position: relative;
            height: 100vh;
        }
        .fade-carousel .carousel-inner .item {
            height: 100vh;
        }
        .fade-carousel .carousel-indicators > li {
            margin: 0 2px;
            background-color: #f39c12;
            border-color: #f39c12;
            opacity: .7;
        }
        .fade-carousel .carousel-indicators > li.active {
            width: 10px;
            height: 10px;
            opacity: 1;
        }

        /********************************/
        /*          Hero Headers        */
        /********************************/
        .hero {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 3;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 1px 1px 0 rgba(0,0,0,.75);
            -webkit-transform: translate3d(-50%,-50%,0);
            -moz-transform: translate3d(-50%,-50%,0);
            -ms-transform: translate3d(-50%,-50%,0);
            -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
        }
        .hero h1 {
            font-size: 6em;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        .fade-carousel .carousel-inner .item .hero {
            opacity: 0;
            -webkit-transition: 2s all ease-in-out .1s;
            -moz-transition: 2s all ease-in-out .1s;
            -ms-transition: 2s all ease-in-out .1s;
            -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
        }
        .fade-carousel .carousel-inner .item.active .hero {
            opacity: 1;
            -webkit-transition: 2s all ease-in-out .1s;
            -moz-transition: 2s all ease-in-out .1s;
            -ms-transition: 2s all ease-in-out .1s;
            -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
        }

        /********************************/
        /*            Overlay           */
        /********************************/
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: #080d15;
            opacity: .7;
        }

        /********************************/
        /*          Custom Buttons      */
        /********************************/
        .btn.btn-lg {padding: 10px 40px;}
        .btn.btn-hero,
        .btn.btn-hero:hover,
        .btn.btn-hero:focus {
            color: #f5f5f5;
            background-color: #1abc9c;
            border-color: #1abc9c;
            outline: none;
            margin: 20px auto;
        }

        /********************************/
        /*       Slides backgrounds     */
        /********************************/
        .fade-carousel .slides .slide-1,
        .fade-carousel .slides .slide-2,
        .fade-carousel .slides .slide-3 {
            height: 100vh;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .fade-carousel .slides .slide-1 {
            background-image: url({{ asset('front/images/slider/slider.jpg') }});
        }
        .fade-carousel .slides .slide-2 {
            background-image: url({{ asset('front/images/slider/slider2.jpg') }});
        }
        .fade-carousel .slides .slide-3 {
            background-image: url({{ asset('front/images/slider/slider31.jpg') }});
        }

        /********************************/
        /*          Media Queries       */
        /********************************/
        @media screen and (min-width: 980px){
            .hero { width: 980px; }
        }
        @media screen and (max-width: 640px){
            .hero h1 { font-size: 4em; }
        }
    </style>
<script src="{{ asset('jquery-3.4.1.min.js')}}"> </script>

<script  type="application/javascript" async>
    $(document).ready(function(){
        console.log("here jquery");
        $(".addcart2").click(function(){
           // $(this).hide();
            console.log("clicked addcart");
           $data=$(this).parent().parent().parent().html();

            console.log($data);

            //$data=$data.hasClass('name').val();

            console.log($(this).parent().parent().parent().find('.refProduct').val());
            $ref=$(this).parent().parent().parent().find('.refProduct').val();
            $.ajax({
                url:'{{ path('ajouterAuPanier') }}',
                type: "GET",
                data: {
                    'ref' : $ref
                },
                dataType:"text",
                success: function (data)
                {
                    console.log(data);
                   // console.log(data.qte);
                    $date=$.parseJSON(data);
                    console.log($date.etat);
                    if (!($date.etat = 1)) {
                    } else {
                        alert("Deja ajouter");
                    }
                    $("#countItems").text($date.articles);
                }

        });

        });




    });
</script>

    <!------ Include the above in your HEAD tag ---------->

    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">


        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>B A S K E L</h1>
                        <h3>Construisez Votre Baskel maintenant!!</h3>
                    </hgroup>
                    <button type="button" class="btn btn-warning" role="button">Construire</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Notre Collection</h1>
                        <h3></h3>
                    </hgroup>
                    <button type="button" class="btn btn-warning" role="button">Shopping</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Inscrivez Vous</h1>
                        <h3></h3>
                    </hgroup>
                    <button type="button" class="btn btn-warning" role="button">Inscription</button>
                </div>
            </div>
        </div>
    </div>

    <!--Start Custom content-->
    <div class="container">
        <div class="box-shadow section-small">
            <div class="row">
                <div class="col-md-4">
                    <div class="custom-content ">
                        <h3>LIVRAISON GRATUITE</h3>
                        <p>Livraison disponible</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="custom-content border-left">
                        <h3>CARTES CADEAUX ET EMBALLAGE</h3>
                        <p>Le moyen idéal pour faire sourire</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="custom-content border-left">
                        <h3>QUALIFIED</h3>
                        <p>Experts en prescription</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End custom content-->

        <div class="tab-content">

            <!--Tab item-->
            <div class="tab-pane active" id="one_read">
                <div class="row">
                <div style="margin-left: 20%; margin-right: 20%; margin-bottom: 10%">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                </div>
    {% for p in produit %}
                    <div class="col-md-4 col-sm-6">

        <div class="product-item">
            <div class="product-thubnail">
                <img src="{{ asset('uploads/images/' ~ p.image) }}" alt="product 1"  style="width: 300px; height: 280px;"/>
                <input class="imgItem" type="hidden" name="" value="{{ asset('front/images/'~p.image)}}">
                <div class="product-meta">
                    <a class="add-to-cart addcart addcart2"  >Add to cart</a>
                    <span class="quick-view">

                                                </span>
                </div>
            </div>
            <div class="product-infomation desc">
                <input type="hidden" class="refProduct" value="{{ p.refP }}" >
                <h4><a class="name ">{{ p.nomP }}</a></h4>
                <span class="product-price price">{{ p.prixP }}DTN</span>
                <span class="product-attr">
                                                <i class="fa fa-circle light-blue"></i>
                                                <i class="fa fa-circle orange"></i>
                                                <i class="fa fa-circle blueviolet"></i>
                                                <i class="fa fa-circle orange-dark"></i>
                                                <i class="fa fa-circle steelblue"></i>
                                            </span>
            </div>
        </div>
                        </div>
    {% endfor %}
                </div>
            </div>
        </div>
    <!--Start parallax-->
    <section class="parallax background-parallax">
        <div class="container">

            <!--Get In Touch-->
            <div class="get-in-touch">
                <h3>FAQ</h3>
                <p>N'HESITEZ-PLUS! APPORTEZ-NOUS VOTRE VELO!</p>
                <a class="buynow" href="shop.html">Allez!!</a>
            </div>
            <!--End Get In Touch-->

        </div>
    </section>
    <!--End Start parallax-->
{% endblock  container%}
