
{% extends 'default/front/header.html.twig' %}



{% block head %}
    {{ parent() }}


{% endblock %}
{% block container %}

        <!--Shop meta-->
        <ul class="tz-ecommerce-meta pull-right">

            <li class="tz-mini-cart">


                <!--Mini cart-->
                <ul class="cart-inner">
                    <li class="mini-cart-content">
                        <div class="mini-cart-img"><img src="images/product/product-cart1.png" alt="product search one"></div>
                        <div class="mini-cart-ds">
                            <h6><a href="single-product.html">Liv Race Day Short</a></h6>
                            <span class="mini-cart-meta">
                                        <a href="single-product.html">$2650.00</a>
                                        <span class="mini-meta">
                                           <span class="mini-color">Color: <i class="orange"></i></span>
                                           <span class="mini-qty">Qty: 5</span>
                                        </span>
                                    </span>
                        </div>
                        <span class="mini-cart-delete"><img src="images/delete.png" alt="delete"></span>
                    </li>
                    <li class="mini-cart-content">
                        <div class="mini-cart-img"><img src="images/product/product-cart2.png" alt="product search one"></div>
                        <div class="mini-cart-ds">
                            <h6><a href="single-product.html">City Pedals Sport</a></h6>
                            <span class="mini-cart-meta">
                                        <a href="single-product.html">$2650.00</a>
                                        <span class="mini-meta">
                                           <span class="mini-color">Color: <i class="orange"></i></span>
                                           <span class="mini-qty">Qty: 5</span>
                                        </span>
                                    </span>
                        </div>
                        <span class="mini-cart-delete"><img src="images/delete.png" alt="delete"></span>
                    </li>
                    <li class="mini-cart-content">
                        <div class="mini-cart-img"><img src="images/product/product-cart3.png" alt="product search one"></div>
                        <div class="mini-cart-ds">
                            <h6><a href="single-product.html">Gloss</a></h6>
                            <span class="mini-cart-meta">
                                        <a href="single-product.html">$2650.00</a>
                                        <span class="mini-meta">
                                           <span class="mini-color">Color: <i class="orange"></i></span>
                                           <span class="mini-qty">Qty: 5</span>
                                        </span>
                                    </span>
                        </div>
                        <span class="mini-cart-delete"><img src="images/delete.png" alt="delete"></span>
                    </li>
                    <li class="mini-subtotal">
                                <span class="subtotal-content">
                                    Subtotal:
                                    <strong class="pull-right">$1,100.00</strong>
                                </span>
                    </li>
                    <li class="mini-footer">
                        <a href="shop-cart.html" class="view-cart">View Cart</a>
                        <a href="shop-checkout.html" class="check-out">Checkout</a>
                    </li>
                </ul>
                <!--End mini cart-->

            </li>
        </ul>
        <!--End Shop meta-->

        <!--navigation mobi-->
        <button data-target=".nav-collapse" class="btn-navbar tz_icon_menu" type="button">
            <i class="fa fa-bars"></i>
        </button>
        <!--End navigation mobi-->
    </div>
</nav>
<!--End stat main menu-->

</header>
<!--End id tz header-->

<section class="shop-checkout">
    <div class="container">
        <!--Start Breadcrumbs-->
        <ul class="tz-breadcrumbs">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="current">
                Shop Cart
            </li>
        </ul>
        <!--End Breadcrumbs-->
        <h1 class="page-title">Shop Cart</h1>

        <!--Start form table-->
        <form>
            <table class="shop_table cart">
                <!--Table header-->
                <thead>
                <tr>
                    <th class="product-remove">&nbsp;</th>
                    <th class="product-thumbnail">Product</th>
                    <th class="product-name">&nbsp;</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-subtotal">Total</th>
                </tr>
                </thead>
                <!--End table header-->

                <!--Table body-->
                {% set totalHT = 0 %}
                {% set nbr = produit|length %}
                <tbody>
                {% for p in produit %}


                <tr class="cart_item">
                    <td class="product-remove">
                        <a href="{{ path('supprimer', {'refP' : p.refP }) }}" class="remove" title="Remove this item"></a>
                        <input type="hidden" name="refP" value="{{ p.refP }}">
                    </td>
                    <td class="product-thumbnail">
                        <a href="single-product.html"><img src="{{ asset('front/images/product/'~p.image) }}" alt="cart" /></a>
                    </td>

                    <td class="product-name">
                        <a href="single-product.html">{{ p.nomP }} </a>
                        <span class="color">
                                    Color: <i class="orange"></i>
                                </span>
                    </td>
                    <td class="product-price">
                        <span class="amount price">{{ p.prixP }}DT</span>
                    </td>

                    <td class="product-quantity">
                        <div class="quantity"> <select  class="span1 qty" >
                                {% for i in 1..10 %}
                                    <option value="{{ i }}" {% if i == panier[p.refP] %} selected="selected" {% endif %}>{{ i }}</option>
                                {% endfor %}
                            </select>&nbsp;</div>
                    </td>

                    <td class="product-subtotal">
                        <span class="amount totalParProduit">{{ p.prixP}}DT</span>
                    </td>
                </tr>
                    {% set totalHT = totalHT + (p.prixP  * panier[p.refP]) %}

                {% endfor %}
                </form>
                    <tr>
                    <td class="actions" colspan="6">
                        <a class="back-shop" href="#"><i class="fa fa-angle-left"></i> BACK TO SHOP</a>
                       <a class="update-cart" href="{{ path('ValiderCommande' ,{'PrixTotal' : totalHT  ,'date': date('now')|date ,'nbr': nbr}  )}}">update cart</a>

                    </td>
                </tr>

                </tbody>
                <!--End table body-->
            </table>

        <!--End form table-->

        <!--Cart attr-->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <!--Coupon-->
                <div class="coupon">
                    <h3>Coupon</h3>
                    <form>
                        <p>Enter your coupon code if you have one.</p>
                        <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code">
                        <input type="submit" class="button" name="apply_coupon" value="Apply Coupon">
                    </form>
                </div>
                <!--End coupon-->
            </div>
            <div class="col-md-6 col-sm-6">

                <!--Cart totals-->
                <div class="cart_totals">
                    <div class="cart_totals_inner">
                        <table>
                            <tbody>
                            <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td><span class="amount">$293.00</span></td>
                            </tr>
                            <tr class="shipping">
                                <th>Shipping and handling</th>
                                <td>
                                    <form class="shop-shipping-calculator"  method="post">
                                        <p class="form-r">
                                            <input type="checkbox" name="rate" value="1" />
                                            <span>
                                                       Flat Rate:
                                                       <span class="price">
                                                           $30.00
                                                       </span>
                                                   </span>
                                        </p>
                                        <p class="form-r">
                                            <input type="checkbox" name="international" value="1" />
                                            <span>
                                                       International Delivery:
                                                       <span class="price">
                                                           $150.00
                                                       </span>
                                                   </span>
                                        </p>
                                        <p class="form-r">
                                            <input type="checkbox" name="rate" value="1" />
                                            <span>
                                                       Local Delivery:
                                                       <span class="price">
                                                           $90.00
                                                       </span>
                                                   </span>
                                        </p>
                                        <p class="form-r">
                                            <input type="checkbox" name="pickup" value="1" />
                                            <span>Local Pickup (Free)</span>
                                        </p>
                                    </form>
                                </td>
                            </tr>
                            <tr class="order-total">
                                <th>Order total</th>
                                <td><span class="amount">$293.00</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!--End cart totals-->

            </div>
        </div>
        <!--End cart attr-->
    </div>
</section>


{% endblock %}
