{% extends 'default/back/header.html.twig' %}


{% block head %}
    {{ parent() }}


{% endblock %}
{% block container %}
    <div class="breadcome-area" style="margin-left:14%"
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Liste des Techniciens</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="product-status mg-b-30" style="margin-left: 14%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <h4>Liste des Techniciens </h4>

                        <table>
                            <tr>
                                <th>ID</th>
                                <th>CIN</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>E-mail</th>
                                <th>NumTel</th>
                            </tr>

                                {% for t in techniciens %}
                            <tr>
                                <td>{{ t.idT }}</td>
                                <td>{{ t.cin }}</td>
                                <td>{{ t.nom }}</td>
                                <td>{{ t.prenom }}</td>
                                <td>{{ t.email }}</td>
                                <td>{{ t.numtel }}</td>
                                <td>
                                    <a data-toggle="tooltip" title="Modifier" class="pd-setting-ed" href="{{ path('ModifierTechnicien', {'id': t.idT}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a style="margin-left: 10%" data-toggle="tooltip" title="Supprimer" class="pd-setting-ed" href="{{ path('SupprimerTechnicien', {'id': t.idT}) }}"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>

                                </td>

                                {% endfor %}


                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
