
{% extends 'default/front/header.html.twig' %}



{% block head %}
    {{ parent() }}


{% endblock %}
{% block container %}
<section class="shop-checkout">
    <div class="container">
        <!--Start Breadcrumbs-->

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}

        <ul class="tz-breadcrumbs">
            <li>
                <a href="#">Acceuil</a>
            </li>
            <li class="current">
                Liste des reservations
            </li>

        </ul>
        <!--End Breadcrumbs-->
        <h1 class="page-title">Liste de vos reservations</h1>
        <p> Vous pouvez confirmer ou annuler vos reservations.</p>

        <!--Start form table-->
        <form>

            <form role="search">
                <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Recherchez des Reservations.." title="Type in a name">
            </form>

            <table class="shop_table cart" id="myTable">
                <!--Table header-->
                <thead>
                <tr>

                    <th class="product-price">Etat</th>
                    <th class="product-subtotal">Event Name</th>
                    <th class="product-subtotal">Event description</th>
                    <th class="product-price">Date</th>
                    <th class="product-quantity" > User </th>
                    <th class="product-remove">&nbsp;</th>
                    <th class="product-remove">&nbsp;</th>

                </tr>
                </thead>
                <!--End table header-->

                <!--Table body-->
                <tbody>
                {% for r in reservation %}

                {% if r.etat == 'reserve'  %}
                <tr class="cart_item" style="background-color: hsl(43, 100%, 95%)" >
                    {% elseif r.etat =='confirme' %}
                <tr class="cart_item" style="background-color: hsl(274, 100%, 95%)">
                    {% elseif r.etat =='annule' %}
                <tr class="cart_item" style="background-color: hsl(4, 100%, 95%)" >
                    {% else %}
                <tr class="cart_item">
                    {% endif %}



                    <td class="product-name">{{ r.etat }}</td>
                    <td class="product-name">{{ r.getIdEvent().getNom() }}</td>
                    <td class="product-name"><span class="amount">{{ r.getIdEvent().getDescription()}}</span></td>
                    <td class="product-name">{{ r.getIdEvent().getDate() |date("F/d/Y h:i") }}</td>

                    <td class="product-price"><span class="amount">{{ r.getIdUser()}}</span></td>


                    <td class="product-remove">
                        <a  title="confirmer" href="{{ path('ConfirmerRes', {'id': r.id}) }}"><i class="fa fa-check-square" aria-hidden="true"></i></a>
                    </td>

                    <td class="product-remove">
                        <a data-toggle="tooltip" title="annuler" href="{{ path('AnnulerRes', {'id': r.id}) }}"> <i class="fa fa-close" aria-hidden="true"></i></a>
                    </td>


                    {% endfor %}
                <tr>
                    <td class="actions" colspan="6">
                        <a class="back-shop" href="#"><i class="fa fa-angle-left"></i> BACK TO SHOP</a>

                    </td>
                </tr>



                </tbody>
                <!--End table body-->
            </table>
        </form>

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

        <script>
            $(document).ready(function(){
                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>

        {% endblock %}




