
{% extends 'default/livreur/header.html.twig' %}



{% block head %}
    {{ parent() }}


{% endblock %}
{% block container %}









    <div class="single-product-tab-area mg-b-30">
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="review-tab-pro-inner">
                            <ul id="myTab3" class="tab-review-design">
                                <li class="active"><a href="#"><i class="fa fa-truck" aria-hidden="true"></i> Modification d'un vehicule</a></li>


                            </ul>

                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    {{ form_start(form, {'method': 'post',  'attr': {'class': 'fos_user_registration_register form-horizontal','id':'signupForm1'}}) }}

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-credit-cards" aria-hidden="true"></i></span>
                                                    {{ form_widget(form.matricule, { 'attr': {'class': 'form-control','placeholder':'Matricule'} }) }}

                                                </div>


                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-user" aria-hidden="true"></i></span>
                                                    {{ form_widget(form.marque, { 'attr': {'class': 'form-control','placeholder':'Marque'} }) }}
                                                </div>



                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">


                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-truck"  aria-hidden="true"></i></span>
                                                    {{ form_widget(form.type, { 'attr': {'class': 'form-control pro-edt-select form-control-primary'} }) }}
                                                </div>


                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="text-center custom-pro-edt-ds">
                                                            <input type="submit" class="btn btn-ctl-bt waves-effect waves-light m-r-10" value="Modifier" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}


                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script type="text/javascript">
        (function($) {

            $.validator.addMethod("phonenumber", function(value, element) {
                return $('#fos_user_registration_form_numtel1').val() != $('#fos_user_registration_form_numtel2').val()
            }, "* nwemer mouch kif kif");
            $.validator.addMethod("letters", function(value, element) {
                return this.optional(element) || /^[a-z A-Z À-þ]+$/i.test(value);
            }, "Letters only please");
            $( document ).ready( function () {


                $( "#signupForm1" ).validate( {
                    rules: {
                        'appbundle_vehicule[matricule]': "required",
                        'appbundle_vehicule[marque]': "required",



                        'appbundle_vehicule[matricule]': {
                            required: true,
                            minlength: 2
                        },
                        'appbundle_vehicule[marque]': {
                            required: true,
                            minlength: 2
                        },






                        agree1: "required"
                    },
                    messages: {
                        'appbundle_vehicule[matricule]': {
                            required: "Matricule ne doit pas être vide",
                            minlength: "Matrcule doit contenir 2 caractéres au minimum"
                        },
                        'appbundle_vehicule[description]': {
                            required: "Description ne doit pas être vide",
                            minlength: "Description doit contenir 2 caractéres au minimum"
                        },



                        email1: "Please enter a valid email address",
                        agree1: "Please accept our policy"
                    },
                    errorElement: "em",
                    errorPlacement: function ( error, element ) {
                        // Add the `help-block` class to the error element
                        error.addClass( "help-block" );

                        // Add `has-feedback` class to the parent div.form-group
                        // in order to add icons to inputs
                        element.parents( ".input-group" ).addClass( "has-feedback" );

                        if ( element.prop( "type" ) === "checkbox" ) {
                            error.insertAfter( element.parent( "label" ) );
                        } else {
                            error.insertAfter( element );
                        }

                        // Add the span element, if doesn't exists, and apply the icon classes to it.
                        if ( !element.next( "span" )[ 0 ] ) {
                            $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
                        }
                    },
                    success: function ( label, element ) {
                        // Add the span element, if doesn't exists, and apply the icon classes to it.
                        if ( !$( element ).next( "span" )[ 0 ] ) {
                            $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                        }
                    },
                    highlight: function ( element, errorClass, validClass ) {
                        $( element ).parents( ".input-group" ).addClass( "has-error" ).removeClass( "has-success" );
                        $( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
                    },
                    unhighlight: function ( element, errorClass, validClass ) {
                        $( element ).parents( ".input-group " ).addClass( "has-success" ).removeClass( "has-error" );
                        $( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
                    }
                } );
            } );
        })(jQuery);

    </script>






{% endblock %}





