
{% extends 'default/back/header.html.twig' %}



{% block head %}
    {{ parent() }}
    <style>
        #div-add-product{
            margin-left: 18%;
            margin-top: 5%;
            width: 80%;
        }
        #inputs-div{
            margin-left: 27%;
        }

    </style>

<script>
    function validate() {
        var libelle = document.getElementById("libellec").value;
        var refc = document.getElementById("refc").value;
        var error_message = document.getElementById("error_message");

        if(refc.length !== 6 ){

            error_message.style.display='block';
            text = "<i class=\"fa fa-exclamation-triangle adminpro-warning-danger admin-check-pro\"></i> La référence doit contenir 6 chiffres.";
            error_message.innerHTML = text;
            //error_message.appendBefore("ezzd");
            return false;
        } else if(libelle.length <= 4 ){

            error_message.style.display='block';
            text = "<i class=\"fa fa-exclamation-triangle adminpro-warning-danger admin-check-pro\"></i> Le libelle doit contenir au moins 4 caractères.";
            error_message.innerHTML = text;
            return false;
        }
        else {
            error_message.style.display='none';
            return true;

        }













    }
</script>


{% endblock %}

{% block container %}





    {{ form_start(form, {'attr': {'onsubmit':'return validate();','novalidate': 'novalidate'}}) }}

    <div class="single-product-tab-area mg-b-30" >
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area" >

            <div class="container-fluid" >

                <div class="row" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="review-tab-pro-inner" id="div-add-product">

                            <div id="myTabContent" class="tab-content custom-product-edit" >
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="alert alert-danger alert-mg-b" id="error_message" hidden="hidden">

                                    </div>

                                    <div class="row">

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="inputs-div">
                                            <div class="review-content-section">

                                                <div class="input-group mg-b-pro-edt" >
                                                    <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>

                                                    {{ form_widget(form.ref_c, { 'id': 'refc','attr': {'class': 'form-control' ,'placeholder': "Référence", 'id':"refc"} }) }}

                                                </div>


                                                <div class="alert alert-danger alert-mg-b" role="alert" hidden="hidden" >
                                                    <i class="fa fa-exclamation-triangle adminpro-warning-danger admin-check-pro" >{{ form_errors(form.ref_c) }}</i>
                                                </div>


                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-favorites" aria-hidden="true"></i></span>
                                                    {{ form_widget(form.libelle, {'id': 'libellec', 'attr': {'class': 'form-control' ,'placeholder': "Libellé",'id':"libelle"} }) }}
                                                </div>

                                                <div class="alert alert-danger alert-mg-b" id="error_message" hidden="hidden">

                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center custom-pro-edt-ds">

                                                {{ form_widget(form.Ajouter, { 'attr': {'class': 'btn btn-ctl-bt waves-effect waves-light m-r-10' ,'placeholder': "Libellé"} }) }}
                                                <a type="button" class="btn btn-ctl-bt waves-effect waves-light" href="{{ path('baskel_homepage') }}">Annuler
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}




