{% extends 'default/back/header.html.twig' %}


{% block head %}
    {{ parent() }}

    <style>
        #div-add-product{
            margin-left: 18%;
            margin-top: 5%;
            width: 80%;
        }
        #inputs-div{
            margin-left: 27%;
        }

        .form-control:disabled {
            background-color: #101829;
            color: #fd4339;
        }


    </style>

{% endblock %}






{% block container %}




    {{ form_start(f) }}
    <div class="single-product-tab-area mg-b-30" >
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area" >

            <div class="container-fluid" >

                <div class="row" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">



                        <div class="review-tab-pro-inner" id="div-add-product">
                            {% set flashbag_notices = app.session.flashbag.get('notice') %}
                            {% if flashbag_notices is not empty %}
                                <ul class="msg">
                                    {% for notice in flashbag_notices %}
                                        <div class="alert alert-success alert-success-style1" role="alert">
                                            <i class="fa fa-check adminpro-checked-pro admin-check-pro"></i> {{ notice }}
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <div id="myTabContent" class="tab-content custom-product-edit" >
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="inputs-div">
                                            <div class="review-content-section">

                                                <div class="input-group mg-b-pro-edt" >
                                                    <span class="input-group-addon"><label>Sujet: </label></span>

                                                    {{ form_widget(f.subject,{ 'attr': {'class': 'form-control'}}) }}
                                                </div>


                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><label>Envoyer à: </label></span>
                                                    {{ form_widget(f.mail,{ 'attr': {'class': 'form-control'}}) }}
                                                </div>

                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><label>Objet: </label></span>
                                                    {{ form_widget(f.objet,{ 'attr': {'class': 'form-control'}}) }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center custom-pro-edt-ds">

                                                {{ form_widget(f.Envoyer, { 'attr': {'class': 'btn btn-ctl-bt waves-effect waves-light m-r-10' } }) }}

                                                <a type="button" class="btn btn-ctl-bt waves-effect waves-light" href="{{ path('baskel_homepage') }}">Annuler
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    {{ form_end(f) }}


{% endblock %}