
{% extends 'default/front/header.html.twig' %}


{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


    {{ parent() }}

    <style>
        #divimg{
            float:left;
            width:70%;
            height:95%;
        }

        #detailprod{
            margin-left:40%;
        }
    </style>

{% endblock %}




{% block container %}


    <!--Start section large top for tabs content-->
    <div class="section-large-top">
        <div class="container">
            <!--Tabs Shop-->
            <div class="tz-shortcode-tabs">

                <!--Tabs Header-->
                <div class="tz-tabs-header">
                    <h2 class="tz-tabs-title pull-left">Produits En Vente</h2>
                    <ul class="nav nav-tabs pull-right tz-nav-tabs">
                        <li role="presentation" class="active"><a href="#one_read" data-toggle="tab">Vélos <i class="fa fa-circle"></i></a></li>
                        <li role="presentation"><a href="#x_road" data-toggle="tab">Vêtements <i class="fa fa-circle"></i></a></li>
                        <li role="presentation"><a href="#off_road" data-toggle="tab">Equipements <i class="fa fa-circle"></i></a></li>
                    </ul>
                </div>
                <!--End tab header-->

                <!--Tab content-->
                <div class="tab-content" >

                    <!--Tab item-->
                    <div class="tab-pane active" id="one_read" >
                        <div class="row">
                            {% for p in produit %}
                            <div class="col-md-4 col-sm-6"  >




                                <!--Start product item-->
                                <div class="product-item" >
                                    <div class="product-thubnail">
                                        <img src="{{ asset('uploads/images/' ~ p.image) }}" alt="product 1"  style="width: 300px; height: 280px;"/>
                                        <div class="product-meta">
                                            <a class="add-to-cart" href="#"><i class="fa fa-cart-plus"></i></a>
                                            <span class="quick-view">
                                                    <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-info-circle"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="product-infomation">
                                        <h4><a>{{ p.nomP }}</a></h4>
                                        <span class="product-price">{{ p.prixP }}DT</span>
                                        <span class="product-attr">


                                            {% for item in p.couleurP %}
                                                <i class="fa fa-circle" style="color: {{ item }}"></i>

                                            {% endfor %}

                                        </span>
                                    </div>
                                </div>

                                <!--End product item-->
                            </div>

                                <div class="row">
                                    <div class="modal fade" id="myModal">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header"><h1>Détails sur le produit:</h1></div>
                                                    <div class="modal-body">
                                                        <div id="divimg">
                                                            <img src="{{ asset('uploads/images/' ~ p.image) }}" alt="product 1"  style="width: 300px; height: 280px;"/>
                                                        </div>

                                                        <div id="detailprod">
                                                        <ul class="product-event-content">
                                                            <li>
                                                                <h3><a href="#">{{ p.nomP }}</a></h3>
                                                                <span class="product-rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-half-o"></i>
                                                                </span>
                                                                <span class="event-price">{{ p.prixP }}DT</span>
                                                            </li>

                                                            <li class="product-event-attr">
                                                                <span class="tz-color">
                                                                    Color:
                                                                     {% for item in p.couleurP %}
                                                                        <i class="fa fa-circle" style="color: {{ item }}"></i>
                                                                     {% endfor %}
                                                                </span>

                                                                <span class="tz-stock">
                                                                    In stock : 10
                                                                </span>
                                                            </li>

                                                            <li class="event-footer">
                                                                <a href="shop-cart.html" class="add-to-cart">Ajouter Au Panier.</a>
                                                                <a href="#" class="add-to-wishlist"><i class="fas fa-heart"></i></a>
                                                            </li>
                                                        </ul>
                                                        </div>
                                                                        <!--End Product content-->

                                                    </div>
                                                <div class="modal-footer"><input class="btn btn-default" data-dismiss="modal" value="Close"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            </div>


                        <!----------------MODAL---------------------->



        <!--End product-->

        </div>

                    <!--End tab item-->

                </div>

                <!--End tab content-->

            </div>
            <!--End Tabs Shop-->

        </div>

        </div>

    <script type="text/javascript">
        $(document).ready(function(){
            setTimeout(function () {
                $("#myModal").modal('show');
            },2000);
            });
    </script>

    <!--End section large top for tabs content-->

{% endblock %}




