
{% extends 'default/front/header.html.twig' %}


{% block head %}
    {{ parent() }}
{% endblock %}




{% block container %}


    <!--Start section large top for tabs content-->
    <div class="section-large-top">
        <div class="container">
            <!--Tabs Shop-->
            <div class="tz-shortcode-tabs">

                <!--Tabs Header-->
                <div class="tz-tabs-header">
                    <h2 class="tz-tabs-title pull-left">Produits En Vente</h2>
                    <ul class="nav nav-tabs pull-right tz-nav-tabs">
                        <li role="presentation" class="active"><a href="#one_read" data-toggle="tab">Vélos <i class="fa fa-circle"></i></a></li>
                        <li role="presentation"><a href="#x_road" data-toggle="tab">Vêtements <i class="fa fa-circle"></i></a></li>
                        <li role="presentation"><a href="#off_road" data-toggle="tab">Equipements <i class="fa fa-circle"></i></a></li>
                    </ul>
                </div>
                <!--End tab header-->

                <!--Tab content-->
                <div class="tab-content" >

                    <!--Tab item-->
                    <div class="tab-pane active" id="one_read" >
                        <div class="row">
                            {% for p in produit %}
                            <div class="col-md-4 col-sm-6"  >




                                <!--Start product item-->
                                <div class="product-item" >
                                    <div class="product-thubnail">
                                        <img src="{{ asset('uploads/images/' ~ p.image) }}" alt="product 1"  style="width: 300px; height: 280px;"/>
                                        <div class="product-meta">
                                            <a class="add-to-cart" href="#">Ajouter Au Panier</a>
                                            <span class="quick-view">
                                                    <a href="#">Détails</a>
                                                </span>
                                        </div>
                                    </div>
                                    <div class="product-infomation">
                                        <h4><a>{{ p.nomP }}</a></h4>
                                        <span class="product-price">{{ p.prixP }}DT</span>
                                        <span class="product-attr">
                                                <i class="fa fa-circle {{ p.couleurP }}"></i>

                                        </span>
                                    </div>
                                </div>

                                <!--End product item-->
                            </div>

                            {% endfor %}
                            </div>

        <!--End product-->

        </div>

                    <!--End tab item-->

                </div>

                <!--End tab content-->

            </div>
            <!--End Tabs Shop-->

        </div>

        </div>

    <!--End section large top for tabs content-->

{% endblock %}




