<br>
<br>
<h1>Fiche Technique du Rendez-vous</h1> <br>
<hr>
<h3>  ID RDV:   {{ rdv.idRDV }} </h3> <br>
<h3> USER ID:    {{ rdv.userid }} </h3> <br>
<h3>  OBJET DU RDV:  {{ rdv.objetRDV }} </h3> <br>
<h3> DETAILS RDV:    {{ rdv.detailsRDV }} </h3> <br>
<h3>  ETAT RDV:    {{ rdv.etatRDV }}  </h3> <br>
<h3>  TECHNICIEN AFFECTE:   {{ rdv.technicienid }} </h3> <br>








