<br>
<br>
<h1>Fiche Technique de la Reclamation</h1> <br>
<hr>
<h3>  ID Rec:   {{ rec.idR }} </h3> <br>
<h3> USER Rec:    {{ rec.userid }} </h3> <br>
<h3>  OBJET Rec:  {{ rec.objetR }} </h3> <br>
<h3> DETAILS Rec:    {{ rec.detailsR }} </h3> <br>
<h3>  ETAT Rec:    {{ rec.etatR }}  </h3> <br>









